@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
  font-family: "Star_Wars";
  src: url("fonts/Star_Wars.ttf");
}

:root {
  --blueHighlight: rgb(81, 54, 255);
}

/*No transitions on load*/
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

html {
  position: absolute;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  text-align: justify;
  overflow-x: hidden;
}

/*Header Images section*/
#banner {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 0px;
  width: 100vw;
  height: 50vh;
}
#poster {
  position: absolute;
  display: block;
  left: 100px;
  top: 20vh;
  width: 380px;
  height: 60vh;
  border: 5px solid rgba(230, 247, 36, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 15px blue;
  transition: width 0.2s linear, height 0.2s linear, box-shadow 0.2s linear;
}
#poster:hover {
  width: 385px;
  height: 60.5vh;
  box-shadow: 0 0 20px blue;
}

/*Headers*/
h1 {
  margin: 60vh 0 20vh 540px;
  line-height: 90px;
  text-align: left;
  font-family: "Star_Wars";
  font-weight: bold;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.5rem;
  transition-duration: 0.2s;
}
a:hover {
  text-shadow: 1px 1px 5px rgba(70, 149, 241, 0.8);
  font-size: 1.55rem;
}

/*Body paragraphs*/
#synopsis, #characters {
  width: 88vw;
  margin-left: 5vw;
}

/*Characters Grid Container*/
#characterHeader {grid-area: 1/1/1/5;}
#characters {
  display: grid;
  grid-template-columns: repeat(2, 0.2fr 0.3fr);
  grid-template-rows: 70px 1fr 100%;
  grid-gap: 50px 50px;
  margin-top: 3%;
  margin-bottom: 5%;
}
.characterPortrait {
  width: 100%;
  height: 20vw;
}

#mainSeperator {
  color: rgb(231, 228, 229);
  width: 98vw;
}

/*Posting Comment Form*/
#createComment {
  display: grid;
  grid-template-columns: 12vw 85vw;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 0 10px;
}
#userInput, #commentInput {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 2px;
}
#userInput:focus, #commentInput:focus {
  outline: 1px solid var(--blueHighlight);
}
#userInput {
  font-size: 24px;
  margin-bottom: 20px;
}
#commentInput {
  resize: vertical;
  font-size: 0.8rem;
}
#submitButton {
  grid-area: 3/1/3/3;
  font-size: 1rem;
  width: 400px;
  height: 50px;
  align-self: center;
  justify-self: center;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: var(--blueHighlight);
  border: 2px solid black;
  border-radius: 5px;
}
#submitButton:hover {
  cursor: pointer;
}
#submitButton:focus {
  outline: none;
}
.disabled {
  opacity: 0.4;
}

.commentSeperator {
  color: rgba(231, 228, 229, 0.4);
  width: 80vw ;
  margin: 2% auto;
}

/*Comment Posted Section*/
.commentItem {
  display: grid;
  grid-template-rows: 0.2 0.8fr;
  text-align: left;
  width: 80vw;
  line-height: 10px;
  padding: 20px 0 5px 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: rgba(215, 212, 212, 0.5);
  border: 1px solid black;
  border-radius: 3px;
}
.userProfile {
  display: flex;
  align-items: center;
}
.userImage {
  height: 50xpx;
  width: 90px;
  padding: 10px 35px;
}
.userName {
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 60vw;
  line-height: 30px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.commentDate {
  font-size: 0.8rem;
}
.newComment {
  line-height: 35px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 79vw;
}

/*Edit Comment*/
.editComment, .editUsername {
  font-size: inherit;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.editComment:focus, .editUsername:focus {
  outline: 1px solid var(--blueHighlight);
}
.editUsername {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.editComment {
  resize: vertical;
  max-width: 77vw;
  margin-top: 10px;
}
.buttonInputs {
  display: flex;
  justify-content: flex-end;
}
.saveEdit {
  background-color: var(--blueHighlight);
  border: 1px solid black;
  border-radius: 7px;
  font-size: inherit;
  min-width: 15vw;
  height: 5vh;
  margin: 10px 0;
}
.cancelEdit {
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 2.2vw;
  margin-left: 1vw;
}

/*Edit Delete Dropdown*/
.dropdown {
  display: inline-block;
  position: absolute;
  right: 9vw;
  margin-top: -50px;
}

.dropdownButton {
  border: none;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.dropdownButton:after {
  content: '\2807';
  font-size: 30px;
  background-color: none;
}
.dropdownButton:hover {
  color: rgb(0, 0, 0);
}
.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  margin: 0;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 3px;
}
.dropdownContent img {
  height: 30px;
  width: 30px;
}
.dropdownContent div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 15px;
}
.editButton, .deleteButton {
  font-weight:bold;
  padding-left: 50px;
}
.dropdownContent div:hover {
  background-color: rgba(185, 185, 185, 0.3);
  height: 1fr;
}
.show {
  display: block;
}


/*Mobile Phone & Narrow Window Styling*/
/*Grid changed to one character per row*/
@media (max-width: 1000px) {
  html {
    font-size: 45px;
    line-height: 50px;
  }
  #banner {
    height: 30vh;
  }

  #poster {
    width: 32vh;
    height: 40vh;
    margin-top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #poster:hover {
    width: 32.5vh;
    height: 40.5vh;
  }

  h1 {
    margin: 70vh 0 10vh 0;
    line-height: 90px;
    text-align: center;
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
  }
  a {
    font-size: 45px;
  }
  a:hover{
    font-size: 46px;
  }

  #synopsis, #characters {
    margin-left: 30px;
  }

  #characterHeader {
    grid-area: 1/1/1/3;
  }
  #characters {
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 10vh 0.2fr 0.4fr 0.2fr 0.2fr;
  }

  #createComment {
    display: flex;
    flex-direction: column;
  }
  #userInput, #commentInput {
    width: 90vw;
    margin: 10px 0 20px 5px;
    font-size: 50px;
  }
  label {
    font-size: 50px;
  }
  #submitButton {
    margin-top: 10px;
    font-size: 50px;
    height: 70px;
  }

  #mainSeperator {
    margin-bottom: 80px;
  }

  .newComment {
    line-height: 50px;
  }
  .commentSeperator {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .userName {
    margin-bottom: 20px;
  }

  .editComment {
    max-width: 75vw;
  }

  .dropdownButton:after {
    font-size: 50px;
  }
  .dropdownContent img {
    height: 50px;
    width: 50px;
  }
}
